[submodule "origin"]
	path = origin
	url = https://github.com/JREM-Nameo/realms-origin.git
[submodule "trading"]
	path = trading
	url = https://github.com/JREM-Nameo/realms-trading.git
[submodule "realms-teams"]
	path = realms-teams
	url = https://github.com/JREM-Nameo/realms-teams.git
